* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

}

:root{
  --title:#F8F8F8;
  --content:#D7D7D7;
  --timeAuthor:#BBBBBB;
  --morePost:#FF57B2;
}

body{
  background:#1A1D23
}

body, input, textarea, select, button {
  font: 400 1rem "Inter", sans-serif;
}

button {
  cursor: pointer;
}

a {
  color:inherit;
  text-decoration: none;
}

@media (max-width:1080px){
  html{
    font-size:93.75%;
  }
}

@media (max-width:720){
  html{
    font-size:87.5%;
  }
}
