.container{
  max-width:720px;
  margin: 0 auto;
  padding: 0 2rem;

  .morePosts{
    color:var(--morePost);
    margin-top:1rem;
    background: none;
    border: none;
  }

  a{
    display:block;
    margin-top: 2.05125rem;
    margin-bottom: 3.125rem;
    & + a {
      margin-bottom: 3.125rem;

    }

    strong{
      color:var(--title);
      line-height:bold;
      font-weight: 700;
      font-size:1.75rem;
    }
    p{
      color:var(--content);
      font-size:1.125rem;
      margin-top: 8px;
    }
  }

  div{
    display:flex;
    margin-top: 1.25rem;
    color: white;
    align-items:center;
    font-size:0.875rem;

    span{
      margin-left: 0.65625rem;
      color:var(--timeAuthor);
    }

    time{
      margin-left: 0.65625rem;
      margin-right: 1.833125rem;
      color:var(--timeAuthor);
    }
  }

}
