

.imagePost {
  margin-bottom: 4rem;
  width: 100%;

  img {
    width: 100%;
    object-fit: cover;
    object-position: top;
    max-height: 25rem;
  }
}

.container{
  max-width:720px;
  margin: 0 auto;
  padding: 0 2rem;



  a{
    display:block;
    margin-top: 2.05125rem;
    margin-bottom: 3.125rem;
    & + a {
      margin-bottom: 3.125rem;

    }
    div{
      display: flex;
      margin-top: 1.25rem;
    color: white;
    align-items:center;
    font-size:0.875rem;

      span{
        display: flex;
        align-items: center;

        svg{
          margin-right: 0.5rem;
        }
      }
    }

    strong{
      color:var(--title);
      line-height:bold;
      font-weight: 700;
      font-size:1.75rem;
    }
    p{
      color:var(--content);
      font-size:1.125rem;
      margin-top: 8px;
    }
  }
  a >div {
    span{
      margin-right: 0.65625rem;
      color:var(--timeAuthor);
      font-weight: 400;
      font-size:0.8rem;

    }
  }

  div{
    margin-top: 1.25rem;
    color: white;
    align-items:center;
    font-size:0.875rem;



    time{
      margin-left: 0.4rem;
      margin-right: 0.8rem;
      color:var(--timeAuthor);
    }
  }

}


.navigateTool{

    width: 100%;
    position: relative;
    font-size: 1.125rem;
    padding-top: 3rem;
    border-top: 1px solid var(--gray-100);
    margin-top: 3.75rem;
}


.nextPost{
  display: flex !important;
flex-direction: column;
max-width: 50%;
position: absolute;
right: 0;
text-align: right;
font-size: 1.3rem;
font-weight: 400;
  span{
    font-size: 1rem;
    font-weight: 600;
    color: var(--morePost);
  }
}
.prevPost{
  display: flex !important;
  flex-direction: column;
  max-width: 50%;
  position: absolute;
  left: 0;
  font-size: 1.3rem;
  font-weight: 400;
  span{
    font-size: 1rem;
    font-weight: 600;
    color: var(--morePost);
  }
}



.Comments{
  margin-top: 10rem;
}


.aada{
  color:var(--timeAuthor);
  font-size:0.8rem;
  font-weight:400;
}
