.container{
  height:5rem;

  .headerContent{
    max-width:720px;
    height:5rem;
    margin: 0 auto;
    padding: 0 2rem;
    display:flex;
    align-items:center;
    margin-top:3rem;

    img{
      cursor:pointer;
    }

  }
}

